body {
    overflow-x: hidden;
  }
  ul{
    padding:0;
  }
  li.msg{
    list-style: none;
  max-width: 75%;
  border-radius: 15px;
  padding: 0.2rem 1rem;
  word-wrap: break-word;
  background: rgb(90, 83, 252);
  color: white;
  border: 1px solid rgb(90, 83, 252);
  align-self: start;
  }
  .mini_avatar{
    margin:0 0 0 1rem;
    width:2.5rem;
    height:2.5rem;
    border-radius: 50%;
  border: 1px solid rgb(90, 83, 252);
  box-shadow: rgb(90, 83, 252) 0px 0px 1px;
  }
  .card {
    background-color: rgba(0, 0, 0, .0);
    color: white;
  }
  
  .bg-img {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: url('../images/bg.png') no-repeat center;
    background-size: cover;
  }
  
  .bg-img-glass {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, .65);
  }
  
  .navigation,.chat {
    border: 2px solid white;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    z-index: 999;
  }
  
  .chat {
    left: 0;
    display: flex;
    justify-content: center;
    font-size: 0.6rem;
    align-items: center;
  }
  
  .session_user {
    display: none;
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
    .bg-img {
      background: url('../images/mobile.png') no-repeat center;
      background-size: cover;
      background-attachment: fixed;
      margin: 0px;
      height: 100%;
    }
    .display-2 {
      font-size: 4.5rem;
    }
    .hidden-sm {
      display: none !important;
    }
  }